/* src/components/AlertComponent.css */
.alert-container {
    margin: 20px;
  }
  
  .alert {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 30px;
  }
  
  .alert.info {
    background-color: #a6f0fc;
    border-color: #55909c;
    color: #172d37;
  }
  
  .alert.warning {
    background-color: #fff2b7;
    border-color: #7e6b47;
    color: #3b2e17;
  }
  
  .alert.error {
    background-color: #ffc5c5;
    border-color: #ebccd1;
    color: #5e2827;
  }
  
  .alert strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  