/* src/components/AlertComponent.css */
.alert-container {
    margin: 20px;
  }
  
  .alert {
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 30px;
  }
  
  .alert.info {
    background-color: #a0c4d6;
    border-color: #55909c;
    color: #869da8;
  }
  
  .alert.warning {
    background-color: #dad0a2;
    border-color: #7e6b47;
    color: #8a6d3b;
  }
  
  .alert.error {
    background-color: #d2a2a2;
    border-color: #ebccd1;
    color: #a94442;
  }
  
  .alert strong {
    display: block;
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  