/* src/components/Cards.css */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
  /* padding: 2px; */
}

.params {
  background-color: #ffffff;
  width: 180px;
  margin: 8px;
  text-align: center;
  line-height: 14px;
  font-size: 14px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(4, 15, 16, 0.2) !important;
  transition: 0.3s;
  padding: 3px;
}

@media (max-width: 768px) {
  .params {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .params {
    width: 44%;
  }
}

.value {
  font-size: 18px;
  font-weight: bold;
  margin: 8px;

}
