/* src/components/Cards.css */
.params {
    margin: 3px;
    background-color: rgb(126, 255, 238);
    padding: 3px;
    border-radius: 5px;
    width: 220px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 10px;
  }
  
  .value {
    font-size: 18px;
    font-weight: bold;
  }
  
  .cards-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  