/* src/components/Cards.css */
.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  padding: 6px;
}

.params {
  background-color: #444242;
  width: 200px;
  margin: 3px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(199, 197, 197, 0.2);
  transition: 0.3s;
  padding: 8px;
}

@media (max-width: 768px) {
  .params {
    width: 40%;
  }
}

@media (max-width: 480px) {
  .params {
    width: 100%;
  }
}

.value {
  font-size: 18px;
  font-weight: bold;
}
