.custom-datetime-picker .MuiInputBase-root {
  height: 10px;
  /* Adjust height as needed */
  display: flex;
  align-items: center;
}

.custom-datetime-picker .MuiOutlinedInput-root {
  height: 100%;
  /* Ensure the height is consistent */
  display: flex;
  align-items: center;
}

.custom-datetime-picker .MuiInputBase-input {
  padding: 8px;
  /* Adjust padding as needed */
}

.datetime-picker-box {
  margin: 0 10px;
  /* Adjust the margin as needed */
}