/* src/components/MainLayout.css */
.main-layout {
    display: flex;
    background-color: rgb(255, 255, 255);
  }
  
  .content-area {
    flex-grow: 1;
    margin-top: 60px; /* Adjust for the height of your TopBar */
    margin-left: 240px; /* Adjust according to the width of your SideNavbar */
  }
  
  .page-content {
    padding: 20px;
  }
  