/* components/SideNav.css */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 500;
    top: 0;
    left: 0;
    background-color: #e5e5e5;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: #242424;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #345ec8;
  }
  
  .sidenav .closebtn {
    position: absolute;
    color: rgb(38, 39, 39);
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .sidenav.open {
    width: 240px;
  }
  