/* src/components/TopBar.css */
.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #b80f0a;
  color: #ffb8b8;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  /* High z-index to stay on top */
}

.hamburger-menu {
  font-size: 24px;
  cursor: pointer;
}

.icons-container {
  display: flex;
  gap: 20px;
}

.icon {
  margin-right: 20px;
  font-size: 20px;
  cursor: pointer;
}